modal-window-element.about .content {
  > .head {
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    > img {
      pointer-events: none;
    }
  }
}
