modal-window-element.models > .window {
  > .container {
    flex: 1;
    overflow: hidden;
    position: relative;
    > modal-window-body-element {
      position: absolute;
      transition: opacity 200ms;
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
      &.details > .content {
        -webkit-user-select: none;
        user-select: none;
        > .name {
          margin-bottom: 0.5em;
          display: flex;
          align-items: flex-end;
          gap: 8px;
        }
        button.action {
          background: var(--background-2s);
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
      }
    }
    .info {
      text-align: center;
    }
  }
  .spinner {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: var(--foreground);
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
