dropdown-menu-element {
  z-index: 1000;
  position: fixed;
  width: 0;
  height: 0;
  &::before {
    z-index: 2;
    content: "";
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 9px;
    height: 9px;
    background: var(--background-2s);
  }
  > .shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000;
  }
  > .container {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--width) * 1px);
    border-radius: 12px;
    background: var(--background-2s);
    padding: 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px #0004;
    overflow: auto;
    > div {
      height: 1px;
      background: #8888;
      margin: 4px 0;
    }
    > button {
      padding: 6px 8px;
      text-align: left;
      background: var(--background-2s);
      border-radius: 8px;
    }
  }
  &:not([flipped]) {
    &::before {
      top: calc(100% + 2px);
      border-left: 1px solid #0004;
      border-top: 1px solid #0004;
    }
    > .container {
      top: calc(100% + 8px);
    }
  }
  &[flipped] {
    &::before {
      bottom: calc(100% + 2px);
      border-right: 1px solid #0004;
      border-bottom: 1px solid #0004;
    }
    > .container {
      bottom: calc(100% + 8px);
    }
  }
}
