message-element {
  display: block;
  margin: 0 0 16px;
  > .model {
    opacity: 0.5;
    font-size: 0.8em;
    -webkit-user-select: none;
    user-select: none;
  }
  > .thinking {
    margin: 0 0 8px;
    opacity: 0.5;
    padding: 0 0 0 8px;
    border-left: 1px solid var(--foreground);
  }
  &[role="system"],
  &[role="tool"],
  &[role="user"] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    > .content {
      width: min(min-content, 80%);
      padding: 6px 12px;
      border-radius: 8px;
      background: var(--background-1);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 16px 0 8px;
  }
  p {
    margin: 8px 0;
  }
  code {
    border-radius: 4px;
    padding: 0 4px;
    background: var(--background-2);
  }
  pre {
    padding: 8px;
    background: #222;
    border-radius: 8px;
    margin: 8px 0 8px;
    overflow: auto;
    line-height: 16px;
    font-size: 12px;
    position: relative;
    button {
      -webkit-user-select: none;
      user-select: none;
      background: #333;
      position: absolute;
      top: 4px;
      right: 4px;
      border-radius: 8px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:active {
        transition: none;
        filter: brightness(2) !important;
      }
      svg {
        fill: #fff;
        width: 16px;
        height: 16px;
      }
    }
    &:not(:hover) button {
      display: none;
    }
    code {
      padding: 0;
      background: none;
    }
    * {
      color: #fff;
    }
  }
  ol,
  ul {
    margin: 8px 0 8px 24px;
  }
  > .content,
  > .thinking {
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
