modal-window-entry-element {
  display: block;
  margin-bottom: 1px;
  border-radius: 12px;
  background: var(--background-2s);
  box-shadow: 0 0 4px #0004;
  height: calc(var(--height) * 1px);
  padding: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
  transition: filter 200ms;
  cursor: pointer;
  &[join~="top"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &[join~="bottom"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:hover {
    filter: brightness(0.95);
  }
  > div:first-child {
    overflow: hidden;
    > .label {
      flex-shrink: 0;
      word-break: keep-all;
    }
    > .description {
      font-size: 0.9rem;
      line-height: 1.15;
      opacity: 0.7;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--line-clamp);
      line-clamp: var(--line-clamp);
      &:not(:empty) {
        margin: 2px 0 0;
      }
    }
  }
}

:root[dark] modal-window-entry-element:hover {
  filter: brightness(1.2);
}
