select-element {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  cursor: pointer;
  white-space: nowrap;
  &:not([has-options]) {
    display: none;
  }
  > .icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
