text-input-element {
  display: inline-block;
  height: 32px;
  width: 400px;
  max-width: 100%;
  position: relative;
  > .icon {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  > input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #8883;
    &::placeholder {
      color: #888;
    }
  }
  &[icon] > input {
    padding-left: 32px;
  }
}
