toggle-element {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  word-break: keep-all;
  position: relative;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 16px;
  transition: filter 200ms;
  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: 0.5;
    border: 1px solid var(--foreground);
    border-radius: inherit;
  }
  &[checked] {
    font-weight: bold;
    color: var(--background-0);
    background: var(--foreground);
  }
  &:not([disabled]) {
    cursor: pointer;
    &:hover {
      filter: brightness(0.9);
    }
  }
  &[disabled] {
    opacity: 0.5;
  }
}

:root[dark] toggle-element:not([disabled]):hover {
  filter: brightness(1.5);
}
