:root {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #060606;
  background-color: #f0f0f0;
}

* {
  background: none;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  width: 24px;
  height: 24px;
}

button:not(:disabled) {
  cursor: pointer;
  transition: filter 200ms;
  &:hover {
    filter: brightness(0.9);
  }
}
